
body {
  font-family: 'Comfortaa';
  background: #f5f5f5;
  margin: 0;
  padding: 0 20px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-top: 0px;
  margin-bottom: 10px;
  align-items: center;
  background: rgba(229, 101, 152, 1);
  padding: 15px 30px;
  border-radius: 90px;
   transform: scale(0.75)
}

.logo {
  display: flex;
  align-items: center;
  padding: 2%;
}

.logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo img {
  display: block;
  max-width: 100%;
  height: auto;
}

.hat {
  display: flex;
  flex-direction: column;
  width: 85%;
  gap: 25px;
  padding-top: 0.9%;
}
.navigation img {
  width: 22%;
  height: 22%;
}

.navigation {
  display: flex;
  width: 98%;
  height: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  width: 780px;
  height: 50px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: rgba(245, 170, 203, 1);
  border-radius: 80px;
}
.nav a {
  margin: 0 10px;
  text-decoration: none;
  color: rgba(206, 39, 105, 1);
  font-family: 'Comfortaa';
  font-size: 30px;
}

.actions button {
  margin-left: 5px;
  border: none;
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;
  width: 75%;
}

.actions {
  display: flex;
  width: 98%;
  height: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.actions input {
  background: rgba white;
  font-family: 'Comfortaa';
  font-size: 30px;
  color: rgba(229, 101, 152, 1);
  width: 73%;
  height: 60px;
  border-radius: 90px;
  border: none;
  padding: 5px 10px;
  margin-right: 10px;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comfortaa';
  text-decoration: none;
  
}

.container {
  display: flex;
  gap: 20px;
  max-width: 1050px;
  max-height: 1050px;
  margin: 20px auto;
}




.sidebar {

border-radius: 36px;
width: 35%;
height: 40%;
  background: #F5AACB;
color: #fff;
  padding: 20px;
}

.iconprofile{
  width: 100%;
  height: 100%;
  top: 300px;
}





.icon1 { 
transition: background-color 0.3s ease, color 0.3s ease; 
  cursor: pointer; 
}
.icon1:hover {
    background-color: rgba(255, 255, 255, 0.1); 
  color: #ffffff; 
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.7); 
}


.icon2 {
  
transition: background-color 0.3s ease, color 0.3s ease; 
  cursor: pointer;

}
.icon2:hover {
   
    background-color: rgba(255, 255, 255, 0.1); 
  color: #ffffff; 
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.7); 
}


.icon3 { 
transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer; 
}
.icon3:hover {
    background-color: rgba(255, 255, 255, 0.1); 
  color: #ffffff; 
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.7); 
}





.user-name {
  background: #E56598;
  color: white;
  padding: 10px;
  border-radius: 75px;
  width: 160px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
  font-size: 30px;
  font-weight: bold;
}



.sidebar li {
  padding: 10px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon {
  font-size: 30px;
  color: #FFFFFF;
}



.profile-content {
  

width: 80%;
height: 300%;


  border-radius: 36px;
  padding: 20px; 
  margin-left: 20px; 
  background-color: #F5AACB; 
}

.profile-header {
  background: #E56598;
  color: white;
  padding: 15px 20px;
  border-radius: 80px;
  text-align: left;
   font-size: 30px;
  font-weight: bold;
  width: 185px;
  margin-bottom: 16px;
 
}

.profile-info {
  width: 806;
height: 539;
top: 478px;
left: 521px;


   background: white;
   border-radius: 26px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.profile-details {
  width: 60%;
}

.full-name {
  font-size: 30px;
  color: rgba(229, 101, 152, 1);
  margin-bottom: 60px;
  font-weight: bold;
   margin-top: 10px;
}

.detail-item {
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 25px;
}

.label {
  font-weight: bold;
  color: #E56598;
}

.value {
  color: #767676;
}

.profile-photo {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.profile-photo img {
  width: 80%;
  border-radius: 8px;
  object-fit: cover;
}

.photo-label {
  color: #E56598;
  font-size: 14px;
  text-align: center;
}


СКРЫТЙ КОНТЕНЕР


.profile-content,
#orders-content {
  width: 80%; 
  min-height: 500px; 
  padding: 20px;
  margin-left: 20px;
  border-radius: 36px;
  background-color: #F5AACB;
  box-sizing: border-box;

 
  position: relative;
}


#orders-content {
  display: none;
}





.header1 {
 background: #E56598;
  color: white;
  padding: 15px 20px;
  border-radius: 80px;
  text-align: left;
   font-size: 15px;
  font-weight: bold;
  width: 155px;
  margin-bottom: 16px;
}

.header h1 {
    color: #fff;
   
    margin: 0;
    text-align: center;
}


.all{
   background: white;
   border-radius: 26px;
}

.address {
    padding: 15px 20px;
    color: rgba(229, 101, 152, 1);
    font-size: 16px;
    display: flex;
    align-items: center;
}

.address .icon {
    margin-right: 10px;
}



.order-item {
    display: flex;
    padding: 15px 20px;
    border-bottom: 1px solid #FFD1DC;
}

.order-image {
    flex: 0 0 80px;
    margin-right: 15px;
}

.order-image img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.order-details {
    flex: 1;
}

.order-details h2 {
    color: rgba(229, 101, 152, 1);
    font-size: 18px;
    margin-bottom: 5px;
}

.order-details p {
    color: #666;
    font-size: 14px;
    margin-bottom: 5px;
}

.price {
    color: rgba(229, 101, 152, 1);
    font-weight: bold;
    font-size: 16px;
}

.status {
    flex: 0 0 120px;
    text-align: right;
}

.status button {
    font-family: 'Comfortaa';
    background-color: #E56598;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 77px;

    font-size: 14px;
}

.total {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.total span {
    font-size: 18px;
}

.total-price {
    color:rgba(229, 101, 152, 1);
    font-weight: bold;
}


footer {
  display: flex;
  justify-content: column;
  width: 94%;
  gap: 150px;
  height: 300px;
  padding: 15px 30px;
  border-radius: 77px;
  margin-left: 13px;
  margin-top: 50px;
  transform: scale(0.75);
  background: rgba(245, 170, 203, 1);
  color: rgba(65, 65, 65, 1);
  font-family: 'Comfortaa';
  font-size: 24px;
}
.public {
  display: flex;
  justify-content: space-between;
  width: 185px;
  height: 120px;

}
.public img {
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.social {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 60px;
  height: 240px;
  color: white;
  font-family: 'Comfortaa';
}

.company {
  margin-top: 20px;
  width: 150px;
}

.company img {
  width: 250px;
}

.customers {
  margin-top: 20px;
  width: 350px;
}

.customers img {
  width: 250px;
}

.company p{
  padding-left: 13%;
  margin: 7px 0;         
  line-height: 1.5;
}

.customers p{
  padding-left: 8%;
  margin: 7px 0;             
  line-height: 1.5;            
}