body {
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  margin: 0;
  padding: 0 20px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-top: 0px;
  margin-bottom: 10px;
  align-items: center;
  background: rgba(229, 101, 152, 1);
  padding: 15px 30px;
  border-radius: 90px;
   transform: scale(0.75)
}

.logo {
  display: flex;
  align-items: center;
  padding: 2%;
}

.logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo img {
  display: block;
  max-width: 100%;
  height: auto;
}

.hat {
  display: flex;
  flex-direction: column;
  width: 85%;
  gap: 25px;
  padding-top: 0.9%;
}
.navigation img {
  width: 22%;
  height: 22%;
}

.navigation {
  display: flex;
  width: 98%;
  height: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  width: 780px;
  height: 50px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: rgba(245, 170, 203, 1);
  border-radius: 80px;
}
.nav a {
  margin: 0 10px;
  text-decoration: none;
  color: rgba(206, 39, 105, 1);
  font-family: 'Comfortaa';
  font-size: 30px;
}

.actions button {
  margin-left: 5px;
  border: none;
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;
  width: 75%;
}

.actions {
  display: flex;
  width: 98%;
  height: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.actions input {
  background: rgba white;
  font-family: 'Comfortaa';
  font-size: 30px;
  color: rgba(229, 101, 152, 1);
  width: 73%;
  height: 60px;
  border-radius: 90px;
  border: none;
  padding: 5px 10px;
  margin-right: 10px;
}
.icons {
  display: flex;
  width: 23%;
  height: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.information {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 0px;
}
.aboutus {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  width: 1000px;
}

.questions {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  width: 1000px;
}

.information h2 {
  color: palevioletred;
  font-family: 'a_FuturaRound';
  font-size: 32px;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 10px;
}

.information h3 {
  color: rgba(118, 118, 118, 1);
  font-family: 'a_FuturaRound';
  font-size: 20px;
  margin: 10px;
}

.information p {
  color: rgba(118, 118, 118, 1);
  font-family: 'Comfortaa';
  font-size: 20px;
  margin: 10px;
}

.aboutus ul {
  color: rgba(118, 118, 118, 1);
  font-family: 'Comfortaa';
  font-size: 20px;
}

.information img {
  max-width: 800px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.footer {
  display: flex;
  justify-content: column;
  width: 94%;
  gap: 150px;
  height: 300px;
  padding: 15px 30px;
  border-radius: 77px;
  margin-left: 13px;
  margin-top: 50px;
  transform: scale(0.75);
  background: rgba(245, 170, 203, 1);
  color: rgba(65, 65, 65, 1);
  font-family: 'Comfortaa';
  font-size: 24px;
}
.public {
  display: flex;
  justify-content: space-between;
  width: 185px;
  height: 120px;

}
.public img {
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.social {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 60px;
  height: 240px;
  color: white;
  font-family: 'a_FuturaRound';
}

.company {
  margin-top: 20px;
  width: 150px;
}

.company img {
  width: 250px;
}

.customers {
  margin-top: 20px;
  width: 350px;
}

.customers img {
  width: 250px;
}

.company p{
  padding-left: 13%;
  margin: 7px 0;         
  line-height: 1.5;
}

.customers p{
  padding-left: 8%;
  margin: 7px 0;             
  line-height: 1.5;            
}

