*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    width: 100%;
    height: 100hv;
    background: #fff;
}
.box{
    width:fit-content;
    margin: 10px;
    display: inline;
}
.btn{
    padding: 1.5rem 3rem;
    background-color: #F5AACB;
    position: absolute;
    color: #fff;
    margin-top: 30px;
    margin-left: 80px;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
}
.modal{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,.2);
    display: grid;
    align-items: center;
    display: none;
}

.modal:target{
    display: table;
    position: absolute;
}
.modal-dialog{
    display: table-cell;
    vertical-align: middle;
    padding: 45px;
    margin: auto;
    z-index: 1;
}
.modal-dialog .content {
    margin: auto;
    position: relative;
    background: #F5AACB;
    height: 400px;
    width: 1239px;
    border-radius: 110px;
    padding: 0;
    outline: 0;
    text-align: justify;
    width: 50%;
    animation: animate 0.4s;

}

@keyframes animate {
    from {
        right: -15rem;
        opacity: 0;
    }
    to{
        right: 0;
        opacity: 1;
    }
}
.close-btn{
    font-size: 2rem;
    position: absolute;
    right: 4rem;
    top: 3rem;
    color: #ffff;
    font-weight: 800;
    opacity: 0.8;
    margin-right: 600px;
    margin-top: 3px;
}
.close-btn:hover{
    opacity: 1;
}
.container{
    padding: 2rem;
    width: 1291px;
    float: left;
    overflow: hidden;
    position:relative;
    display: inline;

}
.container4{
    display: flex;
}
.container h2{
    font-family: a_FuturaRound;
    color: #fff;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 2rem;
    margin-left: 1rem;
    max-height: fit-content;
    max-width: fit-content;

}
.container3 .modal-btn{
    padding: 1rem 1.5rem;
    border: none;
    outline: none;
    color: #CE2769;
    background: #fff;
    border-radius: 50px;
    font-family: a_FuturaRound;
    font-weight: 800;
    font-size: 1rem;;
    margin-left: 2.5rem;
    margin-top: 11rem;
}
.item-card{
    margin-left: 15px;
    max-width: fit-content;
    float: left;
    overflow: hidden;
    position:relative;
}
.container2{
    max-width: fit-content;
    float: left;
    overflow: hidden;
    position:relative;
    width: 100%;
    display: inline;
    margin-left: 15px;
    
}
.name{
    color: #CE2769;
    font-family: 'a_FuturaRound';
    font-weight: 800;
    font-size: 24px;
    margin-bottom: 10px;
}
.desc{
    font-family: 'Comfortaa';
    font-weight: 800;
    font-size: 16px;
    margin-bottom: 10px;
}
.price{
    font-family: 'Comfortaa';
    font-weight: 800;
    font-size: 24px;

}